@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  background: #4C1D95;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', monospace;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}